*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gainsboro;
    margin: auto;
    width: 100vh;
}

.formulario-diagnostico{
    width: 70vh;
    height: 100%;
    border-radius: 10px;
    box-shadow:  0 2px 10px rgba(0,0,0,0.1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.pregunta{
    margin-top: 10px;
}

.rango-pregunta{
    width: 100%;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.rango-pregunta::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.escalas{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

